#### Instalando a biblioteca yfinance

In [ ]:
#!pip install yfinance --upgrade --no-cache-dir

## 1.0 Import

In [ ]:
import pandas as pd
import pandas_datareader.data as web
import numpy as np
import yfinance as yf 
yf.pdr_override()

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

## 2.0 extraindo os dados

In [ ]:
petr = web.get_data_yahoo('PETZ3.SA')

[*********************100%***********************]  1 of 1 completed

### 2.1 Verificando os dados

In [ ]:
petr.shape

(541, 6)

In [ ]:
petr.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 541 entries, 2020-09-15 to 2022-11-21
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       541 non-null    float64
 1   High       541 non-null    float64
 2   Low        541 non-null    float64
 3   Close      541 non-null    float64
 4   Adj Close  541 non-null    float64
 5   Volume     541 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 29.6 KB

### 2.2 Estat√≠stica nos dados, com o decribe()

In [ ]:
petr.describe()

,Open,High,Low,Close,Adj Close,Volume
count,541.000000,541.000000,541.000000,541.000000,541.000000,5.410000e+02
mean,17.839649,18.253567,17.376469,17.799556,17.755147,6.973440e+06
std,5.287541,5.347717,5.210894,5.291526,5.266616,5.287841e+06
min,7.430000,7.580000,7.210000,7.380000,7.380000,1.224200e+06
25%,13.910000,14.230000,13.270000,13.770000,13.753292,3.273100e+06
50%,18.430000,18.889999,17.889999,18.370001,18.322655,5.300200e+06
75%,22.129999,22.600000,21.459999,22.030001,21.956478,8.700100e+06
max,28.350000,28.780001,27.680000,28.350000,28.276932,3.796890e+07

#### verificando se nos dados contem valores nulos

In [ ]:
petr.isna().sum()

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

## 3.0 Prepara√ß√£o Dos **Dados**

Preparando o conjunto de dados para encaix√°-lo no modelo de Regress√£o linear

In [ ]:
def prepare_data(petr, forecast_col, forecast_out, test_size):
  label = petr[forecast_col].shift(-forecast_out) # criando nova coluna chamada r√≥tulo com as √∫ltimas 5 linhas s√£o nan
  X = np.array(petr[[forecast_col]]) # criando uma matriz de recursos
  X = preprocessing.scale(X) # processando a matriz de recursos
  X_lately = X[-forecast_out:] # criando a coluna que quero usar posteriormente no m√©todo de previs√£o
  X = X[:-forecast_out] # X que conter√° o treinamento e os testes
  label.dropna(inplace=True) #drop os valores
  y = np.array(label) # atribuindo Y
  X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=test_size, random_state=0) 

  response =[X_train, X_test, Y_train, Y_test, X_lately]
  return response

#### 3.1 Declarando a vari√°vel

In [ ]:
forecast_col = 'Close'
forecast_out = 5
test_size = 0.2

## 4.0 Aplica√ß√£o de Machine Learning para Previs√£o de Pre√ßo

In [ ]:
X_train, X_test, Y_train, Y_test, X_lately =prepare_data(petr, forecast_col, forecast_out, test_size) # chamando o m√©todo onde a valida√ß√£o cruzada e a prepara√ß√£o dos dados est√£o em
aprender = LinearRegression() # inicializando o modelo de regress√£o linear
aprender.fit(X_train, Y_train) # treinando o modelo de regress√£o linear

LinearRegression()

## 5.0 Prevendo

In [ ]:
score = aprender.score(X_test, Y_test) # testando o modelo de regress√£o linear
forecast = aprender.predict(X_lately) # conjunto que conter√° os dados previstos
response = {} # criando objeto json
response['test_score'] = score
response['forecast_set'] = forecast


display(response)

{'test_score': 0.9413229450290025,
 'forecast_set': array([8.20523277, 7.83903113, 7.74995477, 7.40354735, 7.55200781])}

## ver novamente

In [ ]:

# previsao
# ## https://colab.research.google.com/drive/1Nmfh0XLOQXc_yH_CQLEed8GZQvyaRv9P

# site projeto
# # https://thecleverprogrammer.com/2020/11/14/stock-price-prediction-using-machine-learning/


# https://thecleverprogrammer.com/2020/11/14/breast-cancer-detection-with-machine-learning/

## Mais de 100 projetos cientista de dados
# https://thecleverprogrammer.com/2020/11/15/machine-learning-projects/